<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Soybituary</a>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Filters
  </button>
</nav>